{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- icon -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

        <!-- Bootstrap Css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">

        <!-- Local css -->
        <link rel="stylesheet" href="{% static 'custom.css' %}">
        {% block cssfiles %}
        {% endblock cssfiles %}
        <title>Skippy</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <a class="navbar-brand ml-4 mr-4" href="{% url 'home' %}">Skippy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a href="{% url 'home' %}" class="nav-item nav-link">Home</a>
                    <a href="{% url 'users_list' %}" class="nav-item nav-link">Add New Friends</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'friend_list' %}" class="nav-item nav-link">Friends</a>
                        <a href="{% url 'my_profile' %}" class="nav-item nav-link">Profile</a>
                        <a href="{% url 'post-create' %}" class="nav-item nav-link">Create Post</a>
                        <a href="{% url 'logout' %}" class="nav-item nav-link btn btn-danger">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="nav-item nav-link btn btn-success ml-4 text-light">Login</a>
                        <a href="{% url 'register' %}" class="nav-item nav-link btn btn-info ml-3 text-light">Register</a>
                    {% endif %}
                    {% block searchform %}
                    {% endblock searchform %}
                </div>
            </div>
        </nav>

        <!-- Main Block content -->
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>

        <!-- Footer -->
        <footer class="page-footer font-small black">
            <div class="footer-copyright text-center py-3">
                Skippy © 2022 <br>
                <small class="text-muted">All rights reserved</small>
            </div>
        </footer>

        <!-- JS Files -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        {% block jsfiles %}{% endblock jsfiles %}
    </body>
</html>