{% extends "feed/layout.html" %} {% load crispy_forms_tags %} {% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md- col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <b>Your new Password has been set.</b>
                        </h5>
                        <div class="form-signin">
                            <div class="form-group">
                                <a href="{% url 'login' %}" class="btn btn-lg btn-info btn-block text-uppercase">Sign In Here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}